About:
  tabTitle: "பற்றி"
  releaseNotes: "வெளியீடு  அறிக்கை"
  newUpdate: "புதிய வெளியீட்டின் மேம்பாடு"
  upToDate: "அட்டம் திருத்தி முன்னிலைக்கு மேம்படுத்தப்பட்டது!"
  checkingForUpdates: "புதிய அத்தியாயங்களை தேடிக்கொண்டிருக்கிறது..."
  checkUpdatesNow: "இப்போது தேடு"
  automaticDownloadUpdates: "தானியங்கியாக புதிய அத்தியாயங்களை பெற்று நிறுவு"
  restartInstall: "நிறுவியபின் மீள்தொடங்கு"
  license: "உரிமம்"
  termsOfUse: "Terms of Use"
  with: " உடன் "
  by: " இவர்களால் "
  andTheAwesome: "கலாசலான "
  atomCommunity: "அட்டம் குழுவினர்கள்"
