Welcome:
  tabTitle: "வணக்கம்"
  subtitle: {
    text1: "ஓரு புதிய தன்னமைபு செய்யக்கூடிய உரை திருத்தி இந்த 21"
    superscript: "ஆம்"
    text2: " நூற்றாண்டில்"
  }
  help: {
    forHelpVisit: "உதவிக்கு அனுக"
    atomDocs: {
      text1: ""
      link: "அட்டம் ஆவணங்கள்"
      text2: " கையேடுகள் மற்றும் API உதவிக்கு."
      _template: "${text1}<a>${link}</a>${text2}"
    }
    atomForum: {
      text1: "அட்டம் உதவித்தளம்"
      link: "discuss.atom.io"
      text2: ""   # optional
      _template: "${text1}<a>${link}</a>${text2}"
    }
    atomOrg: {
      text1: ""
      link: "Atom org"
      text2: ". தளத்தில் GitHub-வழி உருவாக்கிய அட்டம் தொகுப்புகள் காணப்படும்."
      _template: "${text1}<a>${link}</a>${text2}"
    }
  }
  showWelcomeGuide: "அட்டம் திருத்தி முதல் திரக்கும்பொழுது வரவேர்ப்பு செய்தியை காட்டவும்"
